{% load static %}
{% load mathfilters %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'anuncios/css/bootstrap.min.css' %}" >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for cat in categorias %}
                    <li><a class="dropdown-item" href="/{{ cat }}">{{ cat }}</a></li>
                {% endfor %}
            </ul>
            </li>
        </ul>
       
    </div>
    </nav>

    <!-- banner -->

    <div>
    {% if banners %}
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="height:350px">
            {% for banner in banners %}
               {% if forloop.first %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}
                <img src="{{ banner.imagen.url }}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
    {% endif %}
    </div>

    <!-- banner -->

    <section class="container my-5">
    <h2>Explora nuestras categorias</h2>
    {% for categoria in categorias %}
            {% if forloop.counter|sub:1|divisibleby:"3" %}
            <div class="row my-5">
            {% endif %}
            <div class= "col col-sm-12 col-md-4">
                <div class="card" style="width: 18rem; my-2">
                    <img src="{{ categoria.imagen.url }}" class="card-img-top" alt="{{ categoria.alt_text }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ categoria.nombre }}</h5>
                        <p class="card-text">{{ categoria.descripcion }}</p>
                        <a href="/{{ categoria }}" class="btn btn-primary">Ver Categoria</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"3" %}
            </div>
            {% endif %}
        {% endfor %}
        </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>

